mixin accordion(title, content, id)
  .card
    #headingOne.card-header
      h2.mb-0
        button.btn.btn-link(type='button' data-toggle='collapse' data-target='#'+id aria-expanded='false' aria-controls='collapseOne')= title
    .collapse(id=id aria-labelledby='headingOne' data-parent='#accordionExample')
      .card-body= content