@import "./mixins";
#slider-section {
  height: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include my_bp(sm) {
    height: 100vh;
  }
  // &::before {
  //   background-color: rgba(14, 8, 31, .8);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 70px;
      }
    }
  }
  img.slide {
    // height: 100vh;
    // width: auto;
    // @include my_bp(sm) {
    height: auto;
    width: 100vw;
    // }
  }
}

#form-section {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(47deg, rgb(238, 130, 25) 0px, rgb(239, 69, 89) 100%);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border: none;
    word-wrap: break-word;
    white-space: inherit;
    min-height: 65px;
    color: white;
    width: 30%;
    margin: 0 auto;
    &:hover {
      background: linear-gradient(47deg, rgb(239, 69, 89) 0px, rgb(238, 130, 25) 100%);
    }
  }
}

#testimonial {
  // padding-bottom: 60px;
  h1 {
    text-align: center;
    text-shadow: 0 1px white;
    color: #02303F;
  }
  h2 {
    color: #736861;
    margin: 15px 0 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }
  h6 {
    color: #928566;
    margin: 0;
  }
  blockquote {
    margin: 0;
    padding: 30px;
    width: 500px;
    max-width: 100%;
    background-color: #DB532B;
    color: white;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.6s linear;
    text-align: justify;
  }
  blockquote:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    border: solid transparent;
    border-top-color: #DA532B;
    border-left-color: #DA532B;
    border-width: 10px;
    left: 10%;
  }
  .two blockquote:after {
    border: solid transparent;
    border-top-color: purple;
    border-left-color: purple;
    border-width: 10px;
  }
  .three blockquote:after {
    border: solid transparent;
    border-top-color: #54885F;
    border-left-color: #54885F;
    border-width: 10px;
  }
  .quotes {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 5em;
  }
  .leftq {
    top: -25px;
    left: 5px;
  }
  .rightq {
    bottom: -10px;
    right: 5px;
  }
  img {
    float: left;
    margin-right: 20px;
  }
  .slide {
    transition: all 0.6s ease-in;
    width: 100%;
    @include my_bp(sm) {
      width: 50%;
    }
  }
  .qts {
    display: flex;
    flex-direction: column;
    @include my_bp(sm) {
      flex-direction: row;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(47deg, rgb(238, 130, 25) 0px, rgb(239, 69, 89) 100%);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  word-wrap: break-word;
  white-space: inherit;
  min-height: 65px;
  color: white;
  width: 30%;
  margin: 0 auto;
  &:hover {
    background: linear-gradient(47deg, rgb(239, 69, 89) 0px, rgb(238, 130, 25) 100%);
    color: white;
    text-decoration: none;
  }
}