doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/mixin.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/bg-poster.jpeg")
      //- .container#info-container
      //-   .row
      //-     .col-sm-12
      //-       h2 Kerala - Women in Nano Startups
      //-       h2 (K-WINS)

    section.section-content
      .container.text-justify
        .row
          .col-sm-12
            p Kerala StartUp Mission (KSUM) is launching an innovative program to encourage women graduates in Kerala to utilise their qualifications and talent to form single person enterprises or Nano startups.
            p This program is called Kerala Women in Nano-Start ups (K-WINS). 
            ul
              li Nano Startups will support other startups and enterprises by fulfilling freelance assignments.
              li The projects are across various domains ranging from content creation, digital marketing, quality testing, art design, employee- engagement, hiring, etc. 
            a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/APPLICATIONFORKWINSPROGRAMPartII/formperma/-kj9aHOHOGpSvOFcAAysgoc329iVWaSSfNzZAIDtxr0") Apply Now
            p.small.text-center.mt-2 The last date to apply 26th July, 2020
            h6.text-center Do not apply if you have already registered for K-WINS in January 2020
        .row.pt-5
          .col-sm-12
            h3.pb-3 BE  A PART OF THE NANO-STARTUP WORLD
            p K-WINS aims to enable qualified women graduates (residing in Kerala), who are on a career break or not under full-time employment, to take up flexible freelance assignments. 
            p The aim is to help such women engage in rewarding work experiences of the GIG economy. 


    section#testimonial
      .container
        .col-sm-12
          h3.pb-3 WHAT IS IT LIKE TO BE A  FREELANCER?
          p Here’s what some freelancers have to say about their experience.
        .qts
          .one.slide
            blockquote
              span.leftq.quotes
              | I had to quit my full-time job when I moved to Mumbai where I did not have anyone to take care of my daughter. So I decided to stay home and start Freelancing. Initial days were tough because I did not know where to start but once I met my first client, things were smooth. Working from home for the last 2 years allows me to take care of my daughter personally and travel as well as earn a decent amount every month
              span.rightq.quotes 
            h2 Chaitra Saxena
            h6 Domain: SEO Article Writing
          .two.slide
            blockquote
              span.leftq.quotes
              | After a great corporate career for 8+ years, I took a break for family reasons. I was a little clueless about where to pick up again but my passion for writing and Wittypen (Content Platform), with its constant flow of quality work, helped me revive my career without much hassle.
              br
              | As a content writer, I  decide my workload every day and  that gives me the freedom to work at my own convenience. It has been a great experience…
              span.rightq.quotes
            h2 Meenakshi S
            h6 Expertise in software, tech, healthcare, lifestyle, etc.

    //- section.section-content
    //-   .container
    //-     .row
    //-       .col-sm-12.text-justify
    //-         h3 Pilot Program
    //-         p The pilot K-WINS cohort will be in the domain of technical content writing. 
    //-         p Those interested in technical writing projects have to upload an original article on any of the 4 topics mentioned in the application.
    //-         p Applicants shortlisted for the first cohort will undergo a K-WINS Orientation Program -cum- writing workshop. 
    //-         p On successful completion of the same, KSUM will endeavour to facilitate freelance assignments from various corporates, start-ups & tech enterprises.
    //-     .row
    //-       .col-sm-12.text-justify
    //-         h3 Technical content writing.
    //-         p Technical writers are required by various entities for writing projects which help the business in becoming visible to the right target segment and communicating what the product/service can do to help the customers.
    //-         p Technical writing includes, blogs, case studies, white papers, user manuals, FAQs and technical journal articles.
    //-         p The ‘promoters’ of nano startups in content writing should have a flair for writing in English and understand basic technology.
    //-         p Candidates with a degree in Science /Maths/Technology/Engineering or Business Administration are encouraged to apply.

    seciton.section-content
      .container
        .row
          .col-sm-12
            h3.pb-3 FAQs
          #accordionExample.accordion
            +accordion("What is Nano Startup? ", " Nano startup is a single person enterprise formed to take up flexible freelance engagements.","accordion1")
            +accordion("What or who are freelancers? ", " Freelancers are people who work for themselves as against working for someone else or an organisation. They are self-employed and enter into specific agreements to complete specific tasks for which they are paid on completion.","accordion2")
            +accordion("Is it necessary to register a Nano startup? ", " No, it is not mandatory to register a Nano startup registration. However a startup is required to register with Govt of India if any one else is to be employed by the startup. Also registration as a limited liability partnership, partnership or private limited company is required to avail any benefit offered by Startup India. ","accordion3")
            +accordion("How much do I have to invest to become a promoter of a nano-startup? ", " You do not need to invest any capital to be a nano-startup under K-WINS. All you have to invest is your time, effort & skills in fulfilling the freelance assignments that you accept.","accordion4")
            +accordion("I have a degree in Literature and Journalism. Can I apply for this program? ", "Yes, any woman graduate in Kerala who is not employed full-time/on a career break and is interested in becoming a freelance entrepreneur can apply to K-WINS.","accordion5")
            +accordion("When & where is the orientation program and workshop going to be held? What is the duration of the program? ", " The orientation will be held on 27th January 2020 at Cochin. It comprises of an orientation session on freelance entrepreneurship immediately followed by a workshop on technical writing. A sample article has to be submitted by the applicants within 2 days of the workshop. Based on the evaluation of this article, applicants will be shortlisted by tech enterprises and start ups registered with KSUM. ","accordion6")
            +accordion("I am interested in a freelance projects but don’t have a tech background. What options do I have? ", " You can register for KWINS and attend the orientation program. You could also attend the workshop if you are inclined to technical writing. If you do not attend the workshop, you will be contacted for other assignments based on your qualifications and experience. ","accordion7")
            +accordion("Currently I work as a part-time teacher. Am I eligible for this program? ", "This program is for women who are currently not employed on a full-time basis. You are eligible if your current employment does not bar you from taking up freelance assignments.","accordion8")
            +accordion("I am in my final year B.Sc and will complete by March, 2020. Can I apply? ", "This program is for women in Kerala who are graduates and are currently not under full-time employment/on a career break. You are welcome to apply if you meet these criteria.","accordion9")
            +accordion("Will I be employed by a start-up or corporate on successful completion of the program? ", " No, this is not an employment program but a program to facilitate nanostartups in freelance projects. On successful completion of the program, KSUM will facilitate interaction with start ups & other entities  towards freelance engagement.  However  KSUM does not guarantee engagement by any entity.","accordion10")
            +accordion("I reside outside Cochin. Can I apply for this program and will entities in Cochin consider me for freelance assignments? ", " Start-ups looking for freelance resources usually have no location constraints if you meet their other requirements. The pilot consists of a one-day orientation program followed by writing workshop in Cochin. If you can attend the orientation program, you can apply. ","accordion11")
            +accordion("How much will I be paid? ", "On successful completion of the workshop and submitting an assignment that meets the required standards,  start-ups/tech enterprises will contact you for freelance projects or assignments. The terms of payment will be intimated by the entity which engages you. Your income earning depends on how many assignments/projects you take up. KSUM has no role in the freelance assignments and the payment on completion of the contract.","accordion12")
            +accordion("I have an active blog and undertake freelance writing assignments, so I do not need orientation on writing. Can KSUM facilitate my interaction with tech-enterprises and startups?  ", " KSUM is organising this orientation program which covers various facets of entrepreneurship and a workshop on technical writing. Only those applicants who complete the program & whose profiles meet the requirements of the enterprises will be contacted directly by the interested enterprises. ","accordion13")
            +accordion("After successful completion, how do I contact the enterprises for freelance assignments? ", " Details of applicants who complete the program will be made available to various enterprises associated with KSUM. Applicants will be contacted directly by those enterprises who require freelancers.","accordion14")
            +accordion("Will the start-ups or enterprises provide a PC/laptop for the freelance assignments? ", " Applicants will have to use their own devices to work on the assignments. It would be advisable to carry laptops for the orientation program as well. ","accordion15")
            +accordion("I have completed graduation recently but have not yet received my graduation degree. What can I bring in lieu of degree certificate? ", " This program is for women graduates who have work experience & are on a career break. If you meet this criterion, you can bring the provisional degree certificate or  marks sheets of all semesters. Please carry the original documents and a photocopy of each when you attend the workshop.","accordion16")
          a.btn.btn-danger#know_more.mx-auto.mt-3(href="#") Know More


        .row
          .col-sm-12
            h4.pb-3.pt-5 Disclaimer
            p This is a entreprenurship development program to set up skilled enterprises by qualified women. Selection for and completion of this program does not guarantee engagements/assignments or employment contracts of any kind.

    

    section#form-section.py-5
      .container
        .row
          .col-sm-12
            a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/APPLICATIONFORKWINSPROGRAMPartII/formperma/-kj9aHOHOGpSvOFcAAysgoc329iVWaSSfNzZAIDtxr0") Apply Now
            p.small.text-center.mt-2 The last date to apply 26th July, 2020
            h6.text-center Do not apply if you have already registered for K-WINS in January 2020
            
    
    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
